body{
	background: #1a1a1a;
	color:#ffffff;
}

.headingpart{}
.headingpart h5{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2px;
}
.slider{
	margin-top: 20px;
    margin-bottom: 40px;
}
.modal-body{
    color: #1a1a1a;
    text-align: center;
    padding: 50px 50px 120px 50px;
}
.modal-body h2{
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 2px;
}
.modal-body p{
    color: #999999;
    font-size: 17px;
}
.welcome{
	text-align: center;
}
.welcome h1{
    text-transform: uppercase;
    font-size: 80px;
    font-weight: bolder;
    letter-spacing: 10px;

}
.welcome h5{
	color: #999999;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 40px;

}
.welcome h5 span{
    font-style: italic;
  	text-transform: lowercase;
  	letter-spacing: 0px;

}
.welcome h6{
	font-size: 24px;
	color: #999999;
}
a.visitlink{
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 25px 50px;
    margin: 60px 0px;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 3px;
}
.imagewithcap{
	position: relative;
	margin-bottom: 30px;
}
.imagewithcap img{
	width: 100%;
}
.clickforcap{
    position: absolute;
    top: 15px;
    right: 15px;
}
.middlepart{
    text-align: center;
    margin: 15px 0px;
    padding: 40px 0px;
}
.midtext{
    margin-bottom: 50px;
}
.middlepart h4{
    letter-spacing: 3px;
    font-size: 24px;
}
.middlepart p{
    color: #999999;
    font-size: 18px;
}
.middleimages{

}

.onsitecaption {
    text-align: right;
    border-top: 1px solid #ffffff;
    padding: 5px 0px;
	margin-bottom: 20px;
}
.onsitecaption h6{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
}
.onsitecaption p{
	font-size: 13px;
	color: #999999;
}
.whitesection{
	background: #ffffff;
	margin: 60px 0px;
}
.whitesub{
    padding: 95px 0px 0px 0px;
}
.whitesub img{
	width: 100%;
}
.breakout{

}
.breakout h3{
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Avenir Next";
    color: #1a1a1a;
    margin-bottom: 60px;
    letter-spacing: 3px;
    margin-top: 90px;
}
.breakout h3::before{
    content: "";
    position: absolute;
    background: url(../img/bottomsmlborder.jpg) repeat;
    width: 56px;
    height: 2px;
    top: 145px;
}
.breakout p{
	font-size: 18px;
	color: #999999;
}


.footside{
    text-align: center;
    padding: 80px 0px 40px 0px;
    border-top: 1px solid #2e2e2e;
}
.footside h4{
	color: #ffffff;
	font-size: 30px;
	letter-spacing: 5px;
    font-family: "Avenir Next";
	text-transform: uppercase;
}
.footside p{
	color: #999999;
	font-size: 18px;
}
.foottext{
	margin-bottom: 50px;
}
.footbox{}
.footbox img{
    margin-bottom: 15px;
	width: 100%;
}
.footbox h6{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
	font-family: "Avenir Next";
}
.footbox p{
    font-size: 13px;
}
.copyright{
	position: relative;
    padding: 50px 0px 0px 0px;
    margin: 40px 0px 0px 0px ;
}
.copyline{
    position: absolute;
    top: 0;
    left: 46%;
}
.copyright p{
	font-size: 11px;
	color: #2e2e2e;
	text-transform: uppercase;
	font-family: "Avenir Next";
	letter-spacing: 2px;
}
